* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.2s ease-in;
  user-select: none;
}

:root {
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-1: #03001c;
  --primary-2: #301e67;
  --card: #301e678d;
  --primary-3: #5b8fb9;
  --primary-3: #9c83ea;
  --primary-4: #b6eada;
  --sidenav: #03001cce;
  --gradient: #1c2f4b;
}


@media (prefers-color-scheme: light) {
  :root {
    --primary-1: #bce3ffce;
    --primary-2: #e8aac5;
    --card: #e8aac58d;
    --primary-3: #5b8fb9;
    --primary-4: #335168;
    --sidenav: #bce3ffce;
    --gradient: #f7acff;
  }
}

body {
  min-height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at top, var(--gradient), var(--primary-1), var(--primary-1));
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-3);
  flex-direction: column;
  overflow-x: hidden;
  padding: 1rem;
}

.proxyCards,
.body {
  /* min-height: 75vh; */
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  .card {
    height: 5rem;
    width: 15rem;
    background: var(--card);
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid var(--card);
    position: relative;

    &:hover {
      border: 1px solid var(--primary-3) !important;
    }

    p {
      font-size: 0.8rem;
    }

    span {
      color: var(--primary-4);
    }

    .close {
      color: var(--primary-3) !important;
      position: absolute;
      top: 0rem;
      right: 0rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      opacity: 0.8;

      &:hover {
        background: var(--primary-1) !important;
        opacity: 1;
      }
    }
  }
}

.selected {
  background: var(--primary-2) !important;
  border: 1px solid var(--primary-3) !important;
}

/* toast */
.toast {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.7rem;
  width: 20rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  z-index: 5;
  word-break: break-all;
  word-wrap: break-word;
}

.info {
  background: rgba(135, 207, 235, 0.8);
  color: black;
}

.success {
  background: rgba(172, 255, 47, 0.8);
  color: black;
}

.error {
  background: rgba(255, 0, 0, 0.8);
  color: white;
}

/* spinner */
.spinner {
  position: absolute;
  z-index: 5;
  left: 1rem;
  bottom: 1rem;
  width: 25px;
  height: 25px;
  border: 5px solid;
  background: transparent;
  border-color: var(--primary-4) transparent var(--primary-4) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* custom proxy */
form {
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  flex-direction: column;
}

input,
textarea,
.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--primary-2);
  background: var(--primary-2);
  color: var(--primary-3);
  resize: none;
}

.btn {
  cursor: pointer;

  &:hover {
    background: var(--primary-1);
  }
}

/* ::selection{
  background: var(--primary-1);
} */

/* about */
.about {
  height: 100vh;
  width: 100vw;
  /* background: url("../../assets/about/bg.png") no-repeat center center/cover, radial-gradient(circle at top, var(--gradient), var(--primary-1), var(--primary-1)); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;

  .body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at top, var(--card), transparent, var(--sidenav));
    display: flex;
    justify-content: center;
    align-items: center;

    .abouthero,
    .linkSection,
    .techStack {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      .name{
        color: var(--primary-4);
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        min-width: 5rem;
        max-width: 8rem;
        height: 4rem;
      }
    }

    .linkSection,
    .techStack {
      flex-direction: row;
      gap: 0.5rem;
    }
  }
}